version: '3.1'

services:

  MySQL:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports: 
      - ${DB_PORT}:3306
